*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
.image{
    width: 200px;
    height: 200px;
    margin: 1rem;
}
.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: centre;
}
.form{
    margin: 1.5 rem;
}